@import "header.css";
@import "content.css";
@import "footer.css";
@import "login.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

#main-content {
  width: 100%;
  height: 100%;
} 

#footer-content{
  width: 100%;
  height: 100%;
}

:root{
--background: url("../../imagenes/background-dark.jpg");      /* Fondo general, casi negro */
--color-background: #0f1117;        /* Fondo general, casi negro */
--color-background-altern: rgba(255, 255, 255, 0.1); /* Fondo general, transparente pero oscuro */
--color-surface: #1c1f26;           /* Superficies como cajas o navbar */
--color-text: #e0e0e0;              /* Texto principal, gris claro */
--color-text-altern: #9ca3af;       /* Texto secundario, gris medio */
--color-text-hover: #3b82f6;        /* Azul claro para hover */
--color-accent: #2563eb;            /* Azul fuerte para detalles (barras de progreso, botones) */
--color-border: #2c2f36;            /* Bordes sutiles */
--color-error: #dc3545;             /* Rojo para mensajes de error */
--transition-speed: 0.3s ease;      /* Velocidad de transición */
--border-radius: 8px;               /* Variable para radios, si la usas */
}

.light-mode {
  --background: url("../../imagenes/background-light.jpg");        /* Fondo general, casi negro */
  --color-background: #e4e9ee;        /* Casi blanco */
  --color-background-altern: rgba(0, 0, 0, 0.05);
  --color-surface: #ffffff;           /* Tarjetas, navbar */
  --color-text: #111827;              /* Texto principal, casi negro */
  --color-text-altern: #374151;       /* Texto secundario */
  --color-text-hover: #2563eb;        /* Azul consistente */
  --color-accent: #3b82f6;            /* Azul brillante */
  --color-border: #d1d5db;            /* Gris suave */
  --color-error: #dc2626;             /* Rojo para errores */
}

